// colors
$base-color: black;
$active-color: dodgerblue;

// borders
$border-bottom: 2px solid $base-color;
$active-border-bottom: 2px solid $active-color;

$font: 5ch droid sans mono, consolas, monospace;